[submodule "RecastDemo/Contrib/imgui"]
	path = RecastDemo/Contrib/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "RecastDemo/Contrib/FastLZ"]
	path = RecastDemo/Contrib/FastLZ
	url = https://github.com/ariya/FastLZ
	branch = master
[submodule "RecastDemo/Contrib/stb"]
	path = RecastDemo/Contrib/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "Docs/html"]
	path = Docs/html
	url = https://github.com/rwindegger/recastnavigation.git
	branch = gh-pages
